body{
    background-color: #051D3B;
}

.container{
    width: 85%;
    margin: auto;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.logo{
    height: 100%;
}

.profile-picture{
    height: 100%;
}

.search-bar{
    height: 60%;
    width: 70%;
    border-radius: 8px;
}

.text-input{
    background-color: #FFFFFF;
    opacity: 16%;
}

.text-input:hover{
    background-color: #FFFFFF;
    opacity: 24%;
}
